<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"><a href="{{ url }}">{{ title }}</a></h1>
    </div>
    <div class="page-content">
        <div class="collapsible-set py-3">
            <!-- Collapsible from https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_collapsible_accordion&stacked=h -->
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <a class="btn-block panel-heading panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Question 1
                    </a>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <a class="btn-block panel-heading panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Question 2
                    </a>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <a class="btn-block panel-heading panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Question 3
                    </a>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>