<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4" name="top"><a href="{{ url }}">{{ title }}</a></h1>
    </div>

    <div [ngClass]="{form: true, label: false}">
        <div class="row">
            <div class="col-lg-12 form-group">
                <label >Sort By:</label>
                <form id="filter">
                    <input type="radio" value="newestFirst" id="newestFirst" name="sort" [(ngModel)]="generalSort" (change) ="handleChange($event)">
                    <label for="newestFirst"> Newest First</label><br>
                    <input type="radio" value="oldestFirst" id="oldestFirst" name="sort" [(ngModel)]="generalSort" (change) ="handleChange($event)">
                    <label for="oldestFirst"> Oldest First</label><br>
                    <input type="radio" value="lowToHigh" id="lowToHigh" name="sort" [(ngModel)]="generalSort" (change) ="handleChange($event)">
                    <label for="lowToHigh"> Price Low to High</label><br>
                    <input type="radio" value="highToLow" id="highToLow"name="sort" [(ngModel)]="generalSort" (change) ="handleChange($event)">
                    <label for="highToLow"> Price High to Low</label><br>
                </form>
        </div>
        </div>
    </div>
    <div class="row">
        <!-- Card columns from Bootstrap docs at https://getbootstrap.com/docs/4.0/components/card/ 
            [ngClass]="{'text-success':true}"
        -->
        <div *ngFor="let item of responsedata" class="card-deck" style="text-align: center;">
            <div class="col-sm-6">
                <div class="card shadow-sm" style="width: 250px;">
                    <div class="card-img-top">
                    </div>
                    <div class="card-body" >
                        <img class="card-img-top" src="https://www.anjrpc.org/global_graphics/default-store-350x350.jpg" alt="Default Image">
                        <p class="card-text">Id: {{ item.id }}</p>
                        <div *ngIf="item.brand != ''; else elseBlock"><p class="card-text">Brand: {{ item.brand }}</p></div>
                        <ng-template #elseBlock><p class="card-text">Brand: Not Specified</p></ng-template>                        
                        <div [ngClass]="{p: true}"><p class="card-text">${{ item.price }}</p> </div>
                        <div [ngClass]="{p: false}"><p class="card-text">By user: {{ item.userId }} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12"  [ngStyle]="{'position':'relative', 'left': '90%', 'margin-top':'2%', 'margin-bottom': '2%'}">
        <a href="#top" class="btn btn-secondary" role="button">Back to top</a>
    </div>
</div>